@model BQuick.Models.RfqCreateFullViewModel


@{
    ViewData["Title"] = "Create RFQ";
}

<main class="content-div mx-3">
    <div class="container-fluid mt-4">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Error:</strong> @TempData["ErrorMessage"]
            </div>
        }
        <div class="d-flex justify-content-between align-items-center mt-4 mb-4 w-100">
            <div class="header page-header" style="font-size: 29px;">
                <a class="text-decoration-none" asp-controller="RFQ" asp-action="Index">
                    <span class="text-danger rfq-link">RFQ</span>
                </a> <span>></span>
                <span class="tes text-decoration">Create RFQ</span>
            </div>
            <div class="d-flex gap-3" id="buttonGroup">
                <button type="submit" id="save-rfq-btn" form="create-rfq-form" class="btn border-0 shadow-none btn-text" style="font-size: 20px; font-weight: 500;">Save</button>
                <button type="button" class="btn border-0 shadow-none btn-text" style="font-size: 20px; font-weight: 500;" id="discard-btn">
                    <a class="text-decoration-none text-black" asp-controller="RFQ" asp-action="Index">Discard</a>
                </button>
            </div>
        </div>

         <div class="add-customer-form-pop-up">
            <div class="navbar sticky-top px-4 py-3">
                <h5 class="fw-bold mb-0">Add New Customer</h5>
                <button type="button" class="btn-close add-customer-form-close-btn-x"></button>
            </div>
            
            <form method="post" enctype="multipart/form-data" class="add-customer-form px-5 py-3" id="add-customer-actual-form">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Company Name
                            </label>
                            <input class="form-control" placeholder="Company Name" required name="CompanyName" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Customer Code
                            </label>
                            <input class="form-control" placeholder="Customer Code" required name="CustomerCode" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">
                                Customer Type
                            </label>
                            <select class="form-select" name="CustomerType" required>
                                <option value="" hidden>Select Customer Type</option>
                                <option value="Company">Company</option>
                                <option value="Personal">Personal</option>
                            </select>
                        </div>

                        <div class="mb-5">
                            <label class="form-label form-label-bold">
                                Profile Picture
                            </label>
                            <input class="form-control" type="file" id="customer-profile-picture" name="attachment">
                        </div>

                        <div class="mb-5 row">
                            <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                <i class='bx bx-info-circle'></i>
                                <span class="fw-bold">
                                    Basic Information
                                </span>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Fax
                                    </label>
                                    <input type="tel" class="form-control" id="customer-fax" placeholder="Fax" name="Fax">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Currency default
                                    </label>
                                    <select class="form-select" name="DefaultCurrency">
                                        <option value="" hidden>Currency default</option>
                                        <option value="IDR">IDR</option>
                                        <option value="USD">USD</option>
                                        <option value="SGD">SGD</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Phone
                                    </label>
                                    <input type="tel" class="form-control" id="customer-phone" placeholder="Phone" name="Phone">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Mobile
                                    </label>
                                    <input type="tel" class="form-control" id="customer-mobile" placeholder="Mobile" name="Mobile">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Account Receivable
                                    </label>
                                    <input type="text" class="form-control" id="customer-account-receivable" placeholder="Account Receivable" name="AccountReceivableCode">
                                </div>
                            </div>

                            <div class="col-12 col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Email
                                    </label>
                                    <input type="email" class="form-control" id="customer-email" placeholder="Email" name="Email">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        TOP
                                    </label>
                                    <select class="form-select" name="DefaultTermsOfPaymentID">
                                        <option value="" hidden>TOP</option>
                                        <option value="1">30 days</option>
                                        <option value="2">45 days</option>
                                        <option value="3">60 days</option>
                                        <option value="4">65 days</option>
                                        <option value="5">90 days</option>
                                        <option value="6">Cash in Advance</option>
                                        <option value="7">Cash before Delivery</option>
                                        <option value="8">Cash on Delivery</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        NPWP
                                    </label>
                                    <input type="text" class="form-control" id="customer-npwp" placeholder="NPWP" name="NPWP">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label form-label-bold">
                                        Account Payable
                                    </label>
                                    <input type="text" class="form-control" id="customer-account-payable" placeholder="Account Payable" name="AccountPayableCode">
                                </div>
                            </div>

                            <div class="wrapper-2" style="max-width: 410px !important">
                                <div class="form-upload">
                                    <input class="file-input" type="file" name="file" hidden>
                                    <div class="rounding"><i class="fa-solid fa-paperclip"></i></div>
                                    <div class="desc">
                                        <p class="mt-3">Attachment: <span class="attachment-count">0</span></p>

                                        <p class="description">Drag/Drop files here. You can upload a maximum of 5 files, 5MB each</p>
                                    </div>
                                </div>

                                <div id="attached-files" style="display: none;">
                                </div>
                                <section class="progress-area"></section>
                                <section class="uploaded-area"></section>
                            </div>
                        </div>

                        <div class="mb-5">
                            <div class="mb-1 d-flex align-items-center gap-1" style="font-size: 20px;">
                                <span class="fw-bold">
                                    Address
                                </span>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Billing Address
                                        </label>
                                        <input type="text" class="form-control" id="customer-billing-address" placeholder="Billing Address" name="BillingAddressDetail">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Street
                                        </label>
                                        <input type="text" class="form-control" id="customer-billing-street" placeholder="Street" name="BillingAddressStreet">
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    City
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-city" placeholder="City" name="BillingAddressCity">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Country
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-country" placeholder="Country" name="BillingAddressCountry">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Province
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-province" placeholder="Province" name="BillingAddressProvince">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    ZIP Code
                                                </label>
                                                <input type="text" class="form-control" id="customer-billing-zip-code" placeholder="ZIP Code" name="BillingAddressZipCode">
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center gap-2">
                                            <input type="checkbox" class="customer-address-checkboxes" id="customer-address-details-checkbox" />
                                            <label>
                                                Detail
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Shipping Address
                                        </label>
                                        <input type="text" class="form-control" id="customer-shipping-address" placeholder="Shipping Address" name="ShippingAddressDetail" >
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label form-label-bold">
                                            Street
                                        </label>
                                        <input type="text" class="form-control" id="customer-shipping-street" placeholder="Street" name="ShippingAddressStreet">
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    City
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-city" placeholder="City" name="ShippingAddressCity">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Country
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-country" placeholder="Country" name="ShippingAddressCountry">
                                            </div>
                                        </div>

                                        <div class="col-12 col-sm-6">
                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    Province
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-province" placeholder="Province" name="ShippingAddressProvince">
                                            </div>

                                            <div class="customer-address-details mb-3">
                                                <label class="form-label form-label-bold">
                                                    ZIP Code
                                                </label>
                                                <input type="text" class="form-control" id="customer-shipping-zip-code" placeholder="ZIP Code" name="ShippingAddressZipCode">
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center gap-2">
                                            <input type="checkbox" class="customer-address-checkboxes" id="match-customer-billing-address-checkbox" />
                                            <label>
                                                Same With Billing Address
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-5">
                            <div class="d-flex align-items-center gap-1" style="font-size: 20px;">
                                <i class='bx bx-info-circle'></i>
                                <span class="fw-bold">
                                    Bank Information
                                </span>
                            </div>
                        </div>

                        <div class="mb-5 d-flex flex-column">
                            <div class="customer-contact-tabs mb-3 d-flex" role="tablist" aria-label="Customer Contact Tabs">
                                <button type="button" class="customer-contact-tab active" role="tab" aria-selected="true" aria-controls="customer-end-user-panel" id="tab-end-user" tabindex="0">
                                    End User
                                </button>
                                <button type="button" class="customer-contact-tab" role="tab" aria-selected="false" aria-controls="customer-purchasing-panel" id="tab-purchasing" tabindex="-1">
                                    Purchasing
                                </button>
                                <button type="button" class="customer-contact-tab" role="tab" aria-selected="false" aria-controls="customer-it-engineer-panel" id="tab-it-engineer" tabindex="-1">
                                    IT Engineer
                                </button>
                            </div>

                            <div class="add-customer-contact-btn-container">
                                <button type="button" class="bg-white border-1" id="add-customer-contact-btn">
                                    Add
                                </button>
                            </div>

                            <div class="mx-1 add-customer-contact-form-pop-up">
                                <div class="show-customer-contact-form-pop-up">
                                    <div id="customer-end-user-panel" class="customer-contact-panel" role="tabpanel" aria-labelledby="tab-end-user">
                                        <div id="end-user-forms-container">
                                            <div class="end-user-form" data-index="0">
                                                <div class="end-user-form-header mb-3 d-flex align-items-center gap-1" style="font-size: 20px; cursor: pointer;">
                                                    <i class='bx bx-info-circle' style="font-size: 18px;"></i>
                                                    <span class="fw-bold">End User Information</span>
                                                    <span class="end-user-number ms-3" style="background-color: black; color: white; border-radius: 50%; width: 18px; height: 18px; display: inline-flex; justify-content: center; align-items: center; font-size: 12px; margin-left: 10px;">1</span>
                                                    <div class="ms-auto">
                                                        <i class="bx bx-minus remove-end-user-btn remove-end-user-btn text-danger" style="display: none; cursor: pointer; margin-left: auto;"></i>
                                                        <i class='bx bx-chevron-down toggle-form-icon'></i>
                                                    </div>
                                                    
                                                </div>
                                                <div class="end-user-form-body px-4">
                                                    <div class="mb-3">
                                                        <label class="form-label form-label-bold">Customer Name</label>
                                                        <input class="form-control" placeholder="Customer Name" name="ContactPersons[0].FullName" required />
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label form-label-bold">Profile Picture</label>
                                                        <input class="form-control" type="file" name="ContactPersons[0].ProfilePicture">
                                                    </div>
                                                    <div class="mb-4 row">
                                                        <div class="col-12 col-sm-6">
                                                            <div class="mb-3">
                                                                <label class="form-label form-label-bold">Email</label>
                                                                <input type="email" class="form-control" placeholder="Email" name="ContactPersons[0].Email">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label form-label-bold">Phone</label>
                                                                <input type="tel" class="form-control" placeholder="Phone" name="ContactPersons[0].PhoneNumber">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label form-label-bold">Mobile</label>
                                                                <input type="tel" class="form-control" placeholder="Mobile" name="ContactPersons[0].Mobile">
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6">
                                                            <div class="mb-3">
                                                                <label class="form-label form-label-bold">Title</label>
                                                                <select class="form-select" name="ContactPersons[0].Title">
                                                                    <option value="" hidden>Title</option>
                                                                    <option value="Mr">Mr</option>
                                                                    <option value="Mrs">Mrs</option>
                                                                    <option value="Ms">Ms</option>
                                                                </select>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label form-label-bold">Job Position</label>
                                                                <input type="text" class="form-control" placeholder="Job Position" name="ContactPersons[0].JobPosition">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label form-label-bold">Notes</label>
                                                                <input type="text" class="form-control" placeholder="Notes" name="ContactPersons[0].Notes">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="form-separator" style="margin: 0px 5px 30px 5px;" />
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start mt-3">
                                            <button type="button" class="btn btn-light add-end-user-btn">
                                                <i class='bx bxs-user-plus add-end-user-btn' style="font-size: 25px;"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div id="customer-purchasing-panel" class="customer-contact-panel" role="tabpanel" aria-labelledby="tab-purchasing" hidden>
                                        <div id="purchasing-forms-container">
                                        </div>
                                        <div class="d-flex justify-content-start mt-3">
                                            <button type="button" class="btn btn-light add-purchasing-btn">
                                                <i class='bx bxs-user-plus add-purchasing-btn' style="font-size: 25px;"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div id="customer-it-engineer-panel" class="customer-contact-panel" role="tabpanel" aria-labelledby="tab-it-engineer" hidden>
                                        <div id="it-engineer-forms-container">
                                        </div>
                                        <div class="d-flex justify-content-start mt-3">
                                            <button type="button" class="btn btn-light add-it-engineer-btn">
                                                <i class='bx bxs-user-plus add-it-engineer-btn' style="font-size: 25px;"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center gap-2">
                            <button type="submit" id="save-rfq-btn" form="create-rfq-form" class="add-customer-form-save-btn btn-uniform">
                                Save
                            </button>

                            <button class="btn btn-danger add-customer-form-close-btn btn-uniform">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="configure-item-form-pop-up">
            <form method="post" enctype="multipart/form-data" class="configure-item-form">
                <div class="configure-item-header d-flex align-items-center px-5 py-1" style="font-size: 25px;">
                    <span class="configure-item-title fw-bold">Configure</span>
                    <div class="configure-item-form-close-btn ms-auto" id="configure-item-form-close-btn">
                        <i class='bx bx-x fw-bold' style="border: 1px solid #000; border-radius: 3px;"></i>
                    </div>
                </div>

                <div class="row justify-content-center px-5 pt-4 pb-3">
                    <div class="col-12">
                        <div class="mb-4">
                            <div class="row mb-2 item-header" style="border-bottom: 2px solid #000;">
                                <div class="col-6 col-md-7">
                                    <label class="form-label form-label-bold mb-0">Item</label>
                                </div>
                                <div class="col-3 col-md-3 text-center">
                                    <label class="form-label form-label-bold mb-0">Quantity</label>
                                </div>
                                <div class="col-3 col-md-2 text-center">
                                    <label class="form-label form-label-bold mb-0">Amount</label>
                                </div>
                            </div>

                            <div class="row item-content align-items-center">
                                <div class="col-6 col-md-7">
                                    <div class="d-flex">
                                        <div class="item-image me-3">
                                            <img src="~/img/Barcode-Scanner-CK65-LON-BSC210E.jpg" alt="Item Image" id="configure-item-image" class="img-thumbnail p-0" style="width: 80px; height: 120px; border: none;">
                                        </div>
                                        <div class="item-name-code" id="configure-item-name-code" style="font-weight: 600;">
                                            Barcode Scanner CK65-LON-BSC210E [HWY00001]
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3 col-md-3 text-center">
                                    <div class="js-quantity-counter">
                                        <button type="button" class="js-minus rounded-0">
                                            <i class='bx bx-minus fw-bold text-black'></i>
                                        </button>
                                        <input type="text" class="js-result form-control rounded-0 shadow-none" id="configure-item-quantity" value="1" style="width: 60px; font-weight: 600;">
                                        <button type="button" class="js-plus rounded-0">
                                            <i class='bx bx-plus fw-bold text-black'></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-3 col-md-2 text-center">
                                    <span id="configure-item-amount" style="font-weight: 600;"></span>
                                </div>
                            </div>
                        </div>

                        <div class="stock-warehouse-box mb-5" style="width: 300px;">
                            <div class="stock-header pt-2 pb-2 ps-3 text-white" id="stock-header">
                                Stock Warehouse <i class="fa-solid fa-boxes-stacked ms-2" style="color: #ffffff;"></i>
                            </div>

                            <div class="stock-body pt-2 pb-2 ps-3">
                                <div class="stock-label">Total Item</div>
                                <div class="stock-value" id="stock-total-item">15</div>
                            </div>
                        </div>

                        <div class="vendor-recommendation mb-5">
                            <div class="mb-3" style="font-size: 20px; font-weight: 600;">Vendor Recommendation</div>

                            <div class="vendor-info mb-3">
                                <div class="row mb-0">
                                    <div class="col-2">
                                        <label class="form-label">Vendor Name</label>
                                    </div>
                                    <div class="col-10">
                                        <span id="vendor-name">PT. Synnex Metrodata Indonesia</span>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-2">
                                        <label class="form-label">Location</label>
                                    </div>
                                    <div class="col-10">
                                        <span id="vendor-location">Batam</span>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-2">
                                        <label class="form-label">Price</label>
                                    </div>
                                    <div class="col-10">
                                        <span id="vendor-price">10000000</span>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-2">
                                        <label class="form-label">Validity Date</label>
                                    </div>
                                    <div class="col-10">
                                        <span id="vendor-validity">30/07/2024</span>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="col-2">
                                        <label class="form-label">Leadtime</label>
                                    </div>
                                    <div class="col-10">
                                        <span id="vendor-leadtime">1-2 Weeks</span>
                                    </div>
                                </div>
                            </div>
                            <div class="vendor-actions mb-3 d-flex">
                                <button type="button" id="other-vendor-btn" class="btn btn-outline-dark d-flex justify-content-center align-items-center me-3" style="border-radius: 4px; font-size: 20px; font-weight: 500; height: 35px;">Other Vendor</button>
                                <button type="button" id="request-to-purchasing-btn" class="btn btn-outline-dark d-flex justify-content-center align-items-center" style="border-radius: 4px; font-size: 20px; font-weight: 500; height: 35px;">Request to purchasing</button>
                            </div>

                            <div class="other-vendors-table mb-4" style="display: none;">
                                <table class="table table-bordered text-center">
                                    <tbody>
                                        <tr>
                                            <td class="vendor-table-label fw-bold" style="background-color: #eaeaea;">Vendor Name</td>
                                            <td style="background-color: #eaeaea; font-weight: 500;">PT. Synnex Metrodata Indonesia</td>
                                            <td style="background-color: #eaeaea; font-weight: 500;">PT. Techtitan</td>
                                            <td style="background-color: #eaeaea; font-weight: 500;">PT. Metrodata</td>
                                            <td style="background-color: #eaeaea; font-weight: 500;">PT. Epson</td>
                                            <td style="background-color: #eaeaea; font-weight: 500;">PT. Odoo</td>
                                        </tr>
                                        <tr>
                                            <td class="vendor-table-label fw-bold">Price</td>
                                            <td>10000000</td>
                                            <td>9700000</td>
                                            <td>9800000</td>
                                            <td>8800000</td>
                                            <td>11800000</td>
                                        </tr>
                                        <tr>
                                            <td class="vendor-table-label fw-bold">Validity Date</td>
                                            <td>30/07/2024</td>
                                            <td>30/07/2024</td>
                                            <td>30/07/2024</td>
                                            <td>30/07/2024</td>
                                            <td>30/07/2024</td>
                                        </tr>
                                        <tr>
                                            <td class="vendor-table-label fw-bold">Leadtime</td>
                                            <td>1-2 Weeks</td>
                                            <td>4-5 weeks</td>
                                            <td>6-8 Weeks</td>
                                            <td>8-15 Weeks</td>
                                            <td>6-12 Weeks</td>
                                        </tr>
                                        <tr>
                                            <td class="vendor-table-label fw-bold">Location</td>
                                            <td>Batam</td>
                                            <td>Tangerang Selatan</td>
                                            <td>Jakarta Selatan</td>
                                            <td>Bogor</td>
                                            <td>Singapura</td>
                                        </tr>
                                        <tr class="choose-row">
                                            <td></td>
                                            <td><button type="button" class="btn btn-sm btn-choose p-0" data-index="0" style="font-size: 16px; font-weight: 500;">Choose</button></td>
                                            <td><button type="button" class="btn btn-sm btn-choose p-0" data-index="1" style="font-size: 16px; font-weight: 500;">Choose</button></td>
                                            <td><button type="button" class="btn btn-sm btn-choose p-0" data-index="2" style="font-size: 16px; font-weight: 500;">Choose</button></td>
                                            <td><button type="button" class="btn btn-sm btn-choose p-0" data-index="3" style="font-size: 16px; font-weight: 500;">Choose</button></td>
                                            <td><button type="button" class="btn btn-sm btn-choose p-0" data-index="4" style="font-size: 16px; font-weight: 500;">Choose</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="request-to-purchasing-form mb-4" style="display: none;">
                                <div class="mb-3">
                                    <label class="form-label form-label-bold">Reason for Request</label>
                                    <select class="form-select" id="reason-for-request">
                                        <option value="" hidden>Reason for Request</option>
                                        <option value="Not yet in the Database">Not yet in the Database</option>
                                        <option value="Invalid Price">Invalid Price</option>
                                        <option value="Leadtime not suitable">Leadtime not suitable</option>
                                        <option value="Out of Stock">Out of Stock</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="mb-3" id="other-reason-container" style="display: none;">
                                    <label class="form-label form-label-bold" for="other-reason-input">Reason for Request</label>
                                    <input type="text" class="form-control" id="other-reason-input" placeholder="Reason for Request" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label form-label-bold">Details/Notes</label>
                                    <input type="text" class="form-control" id="request-details-notes" placeholder="Details/Notes">
                                </div>
                            </div>
                        </div>

                        <div class="item-description mb-5">
                            <div class="mb-3" style="font-size: 20px; font-weight: 600;">Item Description</div>
                            <div id="configure-item-description">
                                CK65-4GB/32GB, 53 key, FlexRange XLR, Camera, SCP, GMS, Standard Environment, WW Mode
                                <br />
                                <br>
                                CK65, 4GB/32GB Memory, 53 key, 1D/2D area imager, FlexRange XLR, Camera, SCP, GMS, Disinfectant Ready, Standard Environment WW Mode.
                            </div>
                        </div>

                        <div class="add-ons">
                            <div class="mb-2" style="font-size: 20px; font-weight: 600;">Add Ons</div>
                            <div class="table-responsive mb-4">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="background-color: #eaeaea;">
                                                <div class="d-flex justify-content-center">
                                                    <input type="checkbox" class="add-on-checkbox" id="select-all-item-add-on-checkbox">
                                                </div>
                                            </th>
                                            <th class="text-center" style="background-color: #eaeaea;">No</th>
                                            <th style="background-color: #eaeaea;">Item Name</th>
                                            <th style="background-color: #eaeaea;">Item Description</th>
                                            <th style="background-color: #eaeaea;">Qty</th>
                                            <th style="background-color: #eaeaea;">UoM</th>
                                            <th style="background-color: #eaeaea;">U/Price</th>
                                            <th style="background-color: #eaeaea;">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody id="add-ons-table-body">
                                        <tr>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <input type="checkbox" class="add-on-checkbox">
                                                </div>
                                            </td>
                                            <td class="text-center" style="font-weight: 500;">1</td>
                                            <td>871-228-201</td>
                                            <td>[HWY0000101] CK65 charger</td>
                                            <td>15</td>
                                            <td>Ea</td>
                                            <td>4031750</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <input type="checkbox" class="add-on-checkbox">
                                                </div>
                                            </td>
                                            <td class="text-center" style="font-weight: 500;">2</td>
                                            <td>851-061-502</td>
                                            <td>[HWY0000102] Hand strap</td>
                                            <td>15</td>
                                            <td>Ea</td>
                                            <td>4031750</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <input type="checkbox" class="add-on-checkbox">
                                                </div>
                                            </td>
                                            <td class="text-center" style="font-weight: 500;">3</td>
                                            <td>UK Power Cord</td>
                                            <td>[HWY0000103] UK standard power cord</td>
                                            <td>15</td>
                                            <td>Ea</td>
                                            <td>241905</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <input type="checkbox" class="add-on-checkbox">
                                                </div>
                                            </td>
                                            <td class="text-center" style="font-weight: 500;">3</td>
                                            <td>Additional Battery Pack (318-052-031)</td>
                                            <td>[HWY0000104] Extra battery pack for CK65</td>
                                            <td>15</td>
                                            <td>Ea</td>
                                            <td>241905</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex justify-content-center">
                                                    <input type="checkbox" class="add-on-checkbox">
                                                </div>
                                            </td>
                                            <td class="text-center" style="font-weight: 500;">3</td>
                                            <td>Protective Case (318-046-003)</td>
                                            <td>[HWY0000105] Rugged protective case</td>
                                            <td>15</td>
                                            <td>Ea</td>
                                            <td>806350</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center gap-2">
                            <button type="button" class="btn btn-success btn-uniform configure-item-form-confirm-btn">
                                Confirm
                            </button>
                            <button type="button" class="btn btn-danger btn-uniform configure-item-form-cancel-btn" id="configure-item-form-close-btn">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="request-item-to-purchasing-form-pop-up ">
            <form method="post" enctype="multipart/form-data" class="request-item-to-purchasing-form">
                <div class="request-item-to-purchasing-header d-flex align-items-center px-5 py-1" style="font-size: 25px;">
                    <span class="request-item-to-purchasing-title fw-bold">Request to Purchasing</span>
                    <div class="request-item-to-purchasing-form-close-btn  ms-auto" id="request-item-to-purchasing-form-close-btn">
                        <i class='bx bx-x fw-bold' style="border: 1px solid #000; border-radius: 3px;"></i>
                    </div>
                </div>

                <div class="row justify-content-center px-5 pt-4 pb-3">
                    <div class="col-12">
                        <div class="mb-3">
                            <label class="form-label form-label-bold">Item Name</label>
                            <input class="form-control" id="request-item-name" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">Item Description</label>
                            <input class="form-control" id="request-item-desc" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">Quantity</label>
                            <input type="number" class="form-control" id="request-item-qty" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">UoM</label>
                            <input class="form-control" id="request-item-uom" required />
                        </div>

                        <div class="mb-3">
                            <label class="form-label form-label-bold">Detail</label>
                            <input class="form-control" id="request-item-detail" />
                        </div>

                        <div class="wrapper-2 mt-5 mb-5" id="main-rfq-attachment-wrapper">
                            <div class="form-upload">
                                <input class="file-input" type="file" name="file" hidden>
                                <div class="rounding"><i class="fa-solid fa-paperclip"></i></div>
                                <div class="desc">
                                    <p class="mt-3">Attachment: <span class="attachment-count">0</span></p>

                                    <p class="description">Drag/Drop files here. You can upload a maximum of 5 files, 5MB each</p>
                                </div>
                            </div>

                            <div id="attached-files" style="display: none;">
                            </div>
                            <section class="progress-area"></section>
                            <section class="uploaded-area"></section>
                        </div>

                        <div class="d-flex justify-content-center gap-2">
                            <button type="submit" class="btn btn-success request-item-to-purchasing-form-save-btn btn-uniform">
                                Sent
                            </button>

                            <button type="button" class="btn btn-danger request-item-to-purchasing-form-close-btn btn-uniform">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <form id="create-rfq-form" asp-action="CreateFull" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            @if (Model.RFQID_FromEdit.HasValue)
            {
                <input type="hidden" asp-for="RFQID_FromEdit" />
            }

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between my-4">
                        <div class="input-field" style="flex: 1;">
                            <input asp-for="RFQName" type="text" class="input-float" style="width: 100%" id="rfq-name" required spellcheck="false">
                            <label asp-for="RFQName">RFQ Name</label>
                            <span asp-validation-for="RFQName" class="text-danger"></span>
                        </div>
                        <span class="rfq-id ms-4" style="font-size: 29px;">RFQYY0000</span>
                        @* <span class="rfq-id ms-4" style="font-size: 29px;">@ViewBag.RFQCode</span> *@
                    </div>

                    <div class="row mt-5 mb-4 mx-1 justify-content-center">
                        <div class="col-12 col-sm-6 ps-0 pe-0">
                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="sejajar" style="width: 146px; padding-top: 8px;">
                                        <label asp-for="CustomerID" class="form-label form-label-bold mb-0">Company Name</label>
                                    </div>
                                    <div style="width: 70%;">
                                        <div class="wrapp company-dropdown" style="width: 100%;">
                                            <div class="select-btn" style="height: 40px;">
                                                <span>@(Model.CustomerList?.FirstOrDefault(x => x.Value == Model.CustomerID.ToString())?.Text ?? "Select Company")</span>
                                                <i class='bx bx-chevron-down'></i>
                                            </div>
                                            <div class="content-search">
                                                <div class="search">
                                                    <i class="bx bx-search-alt-2"></i>
                                                    <input type="text" placeholder="Search" />
                                                </div>
                                                <ul class="option" style="margin-bottom: 10px;"></ul>
                                            </div>
                                            <input type="hidden" asp-for="CustomerID" id="hiddenCustomerId" />
                                        </div>
                                        <span asp-validation-for="CustomerID" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="sejajar" style="width: 146px; padding-top: 8px;">
                                        <label asp-for="EndUserContactPersonID" class="form-label form-label-bold mb-0">End User</label>
                                    </div>
                                    <div style="width: 70%;">
                                        <select asp-for="EndUserContactPersonID" asp-items="Model.EndUserContactPersonList" class="select-btn" style="width:100%; height: 40px;" id="endUserDropdown">
                                            <option value="">-- Select Company First --</option>
                                        </select>
                                        <span asp-validation-for="EndUserContactPersonID" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="sejajar" style="width: 146px; padding-top: 8px;">
                                        <label asp-for="RequestDate" class="form-label form-label-bold mb-0">Request Date</label>
                                    </div>
                                    <div style="width: 70%;">
                                        <input asp-for="RequestDate" type='date' class="form-control1 mb-0" style="width:100%" id='request-date'>
                                        <span asp-validation-for="RequestDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="sejajar" style="width: 146px; padding-top: 8px;">
                                        <label asp-for="DueDate" class='form-label form-label-bold mb-0'>Due Date</label>
                                    </div>
                                    <div style="width: 70%;">
                                        <input asp-for="DueDate" type='date' class="form-control1 mb-0" style="width:100%" id='due-date'>
                                        <span asp-validation-for="DueDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 ps-0 pe-0">
                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="sejajar" style="width: 146px; padding-top: 8px;">
                                        <label asp-for="Resource" class="form-label form-label-bold mb-0">Resource</label>
                                    </div>
                                    <div style="width: 70%;">
                                        <div class="wrapp resource-dropdown" style="width: 100%;">
                                            <div class="select-btn" style="height: 40px;">
                                                <span>@(Model.Resource ?? "Select Resource")</span>
                                                <i class='bx bx-chevron-down'></i>
                                            </div>
                                            <div class="content-search">
                                                <ul class="option" style="margin-bottom: 10px; padding-left: 0rem;">
                                                    @* Opsi utama (tanpa onclick) *@
                                                    <li>Email</li>
                                                    <li>Whatsapp</li>
                                                    <li>Telephone</li>

                                                    @* Opsi "Personal" dengan sub-menu *@
                                                    <li class="has-sub" id="resource-personal-option">
                                                        Personal
                                                        <ul class="sub-option" id="resource-personal-sub-dropdown">
                                                            <li class="has-sub" id="resource-personal-email">
                                                                Email
                                                                <ul class="sub-option second-level">
                                                                    @* Menggunakan loop untuk menampilkan semua user dari model *@
                                                                    @foreach (var user in Model.UserList)
                                                                    {
                                                                        <li data-value="@user.Value">@user.Text</li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                            <li class="has-sub" id="resource-personal-phone">
                                                                Phone
                                                                <ul class="sub-option second-level">
                                                                    @foreach (var user in Model.UserList)
                                                                    {
                                                                        <li data-value="@user.Value">@user.Text</li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                            <li class="has-sub" id="resource-personal-direct">
                                                                Direct
                                                                <ul class="sub-option second-level">
                                                                    @foreach (var user in Model.UserList)
                                                                    {
                                                                        <li data-value="@user.Value">@user.Text</li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="Resource" />
                                        <input type="hidden" asp-for="PersonalResourceEmployeeID" />
                                        <span asp-validation-for="Resource" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="sejajar" style="width: 146px; padding-top: 8px;">
                                        <label asp-for="RFQCategoryID" class="form-label form-label-bold mb-0">Category</label>
                                    </div>
                                    <div style="width: 70%;">
                                        <div class="wrapp project-type-dropdown" style="width: 100%;">
                                            <div class="select-btn" style="height: 40px;">
                                                <span>@(Model.RFQCategoryList?.FirstOrDefault(x => x.Value == Model.RFQCategoryID.ToString())?.Text ?? "Select Category")</span>
                                                <i class='bx bx-chevron-down'></i>
                                            </div>
                                            <div class="content-search">
                                                <ul class="option" style="margin-bottom: 10px; padding-left: 0rem;">
                                                    @foreach (var item in Model.RFQCategoryList ?? Enumerable.Empty<SelectListItem>())
                                                    {
                                                        <li data-value="@item.Value">@item.Text</li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="RFQCategoryID" />
                                        <span asp-validation-for="RFQCategoryID" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex">
                                    <div class="sejajar" style="width: 146px; padding-top: 8px;">
                                        <label asp-for="RFQOpportunityID" class="form-label form-label-bold mb-0">Opportunity</label>
                                    </div>
                                    <div style="width: 70%;">
                                        <div class="wrapp" id="opportunity-dropdown" style="width: 100%;">
                                            <div class="select-btn" style="height: 40px;">
                                                <span>@(Model.RFQOpportunityList?.FirstOrDefault(x => x.Value == Model.RFQOpportunityID.ToString())?.Text ?? "Select Opportunity")</span>
                                                <i class='bx bx-chevron-down'></i>
                                            </div>
                                            <div class="content-search">
                                                <ul class="option" style="margin-bottom: 10px; padding-left: 0rem;">
                                                    @foreach (var item in Model.RFQOpportunityList ?? Enumerable.Empty<SelectListItem>())
                                                    {
                                                        <li data-value="@item.Value">@item.Text</li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="RFQOpportunityID" />
                                        <span asp-validation-for="RFQOpportunityID" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h5 class="note-title underline mb-4">Notes</h5>
                    <div class="row mx-md-4">
                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 190px">
                                        <label asp-for="OverallBudget" class="form-label form-label-bold pe-4">Budget</label>
                                    </div>
                                    <input asp-for="OverallBudget" type="number" class="form-control1" style="width:50%" id="budget">
                                    <span asp-validation-for="OverallBudget" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="sejajar" style="width: 146px">
                                        <label asp-for="OverallLeadTime" class="form-label form-label-bold">Leadtime</label>
                                    </div>
                                    <input asp-for="OverallLeadTime" type='text' class='form-control1' style='width:100%' id='leadtime'>
                                    <span asp-validation-for="OverallLeadTime" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabel-item col-12">
                        <table class="table item">
                            <thead class="table-light">
                                <tr>
                                    <th>No</th>
                                    <th>Item Name</th>
                                    <th>Item Description</th>
                                    <th>Qty</th>
                                    <th>UoM</th>
                                    <th>Budget</th>
                                    <th>Leadtime</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="itemTableBody">
                                @for (int i = 0; i < (Model.NotesSectionItems?.Count ?? 1); i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td class="name"><input asp-for="@Model.NotesSectionItems[i].ItemName" class='size form-control1' /></td>
                                        <td class="desc"><input asp-for="@Model.NotesSectionItems[i].ItemDescription" class='size form-control1' /></td>
                                        <td class="qty"><input asp-for="@Model.NotesSectionItems[i].Quantity" type='number' class='size form-control1' /></td>
                                        <td class="uom"><input asp-for="@Model.NotesSectionItems[i].UoM" class='size tengah form-control1' /></td>
                                        <td class="budget"><input asp-for="@Model.NotesSectionItems[i].BudgetTarget" type='number' class='size form-control1' /></td>
                                        <td class="leadtime"><input asp-for="@Model.NotesSectionItems[i].LeadTimeTarget" class='size tengah form-control1' /></td>
                                        <td class="delete">
                                            <button type="button" onclick="removeRow(this)" class="btn"><i class='bx bx-trash'></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <button type="button" id="addRowBtn" class="btn btn-dark mt-1 btn-uniform">Add Row</button>

                    <div id="main-rfq-attachment-section">

                        <div class="wrapper-2 mt-3 mb-5" id="main-rfq-attachment-wrapper">
                            <div class="form-upload">
                                <input class="file-input" asp-for="AttachmentFiles" type="file" id="attachmentFiles"
                                       name="AttachmentFiles" multiple hidden
                                       accept=".pdf,.doc,.docx,.xls,.xlsx,.jpg,.jpeg,.png">
                                <div class="rounding"><i class="fa-solid fa-paperclip"></i></div>
                                <div class="desc">
                                    <p class="mt-3">Attachment: <span class="attachment-count">0</span></p>

                                    <p class="description">Drag/Drop files here. You can upload a maximum of 5 files, 5MB each</p>
                                </div>
                            </div>

                            <div id="attached-files" style="display: none;">
                            </div>
                            <section class="progress-area"></section>
                            <section class="uploaded-area"></section>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-5">
                    <button type="button" class="btn btn-outline-dark delegation-btn d-flex justify-content-center align-items-center" style="border-radius: 4px; font-size: 20px; font-weight: 500; height: 35px;">Delegation</button>
                </div>

                <div class="tabel item-list col-12">
                    <h5 class="item-list-title underline">Item List</h5>
                    <table class="table item-list">
                        <thead class="table-light">
                            <tr>
                                <th>No</th>
                                <th>Item Name</th>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>UoM</th>
                                <th>U/Price</th>
                                <th>Notes</th>
                                <th>Details</th>
                                <th>Our Warranty</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="itemListTableBody">
                            @for (int i = 0; i < Model.ItemListSectionItems.Count; i++)
                            {
                                var item = Model.ItemListSectionItems[i];
                                var selectedItem = Model.ItemMasterList.FirstOrDefault(x => x.Value == item.ItemID.ToString());
                                <tr>
                                    <td class="text-center" style="font-weight: 500;">@(i + 1)</td>
                                    <td class="name">

                                        <input type="hidden" asp-for="@item.ItemID" class="item-id-hidden" />

                                        <div class="wrapp item-dropdown" style="width: 100%;">
                                            <div class="select-btn d-flex align-items-center">
                                                <span>@(selectedItem?.Text ?? "Pilih Item")</span>
                                                <i class='bx bx-chevron-down'></i>
                                            </div>
                                            <div class="content-search">
                                                <div class="search">
                                                    <i class="bx bx-search-alt-2"></i>
                                                    <input type="text" placeholder="Search" />
                                                </div>
                                                <ul class="option" style="margin-bottom: 10px;"></ul>
                                            </div>
                                        </div>
                                        <span class="text-danger field-validation-error item-id-validation-message" style="display: none;">Item must be selected.</span>
                                    </td>
                                    <td class="desc"><input asp-for="@item.ItemDescription" class='size form-control1'></td>
                                    <td class="qty"><input asp-for="@item.Quantity" type='number' class='size text-center form-control1' oninput="updateRowAmount(this)"></td>
                                    <td class="uom"><input asp-for="@item.UoM" class='size form-control1'></td>
                                    <td class="price"><input asp-for="@item.TargetUnitPrice" type='number' class='size form-control1' oninput="updateRowAmount(this)"></td>
                                    <td class="notes"><input asp-for="@item.Notes" class='size form-control1'></td>
                                    <td class="details"><input asp-for="@item.Details" class='size form-control1'></td>
                                    <td class="warranty"><input asp-for="@item.SalesWarranty" class='size form-control1'></td>
                                    <td class="amount"><span class="item-price-amount"></span></td>
                                    <td class="delete"><button type="button" class="btn btn-remove-row-itemlist"><i class='bx bx-trash'></i></button></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-between align-items-center mb-5 mt-1">
                        <button type="button" id="addRowBtnItem" class="btn btn-dark btn-uniform">Add Item</button>
                        <div id="itemListTotalBox" class="total-box">
                            <span class="total-label">Total</span>
                            <div class="total-value justify-content-center">0</div>
                        </div>
                    </div>
                </div>

                <div class="tabel req-item col-12 mb-5">
                    <h5 class="item-list-title underline">Request Item to Purchasing</h5>
                    <table class="table item-list">
                        <thead class="table-light">
                            <tr>
                                <th>Action</th>
                                <th>No</th>
                                <th>Req Code</th>
                                <th>Item Name</th>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>UoM</th>
                                <th>Reason for Request</th>
                                <th>Notes (Internal)</th>
                                <th>PIC</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="reqTableBody">
         
                        </tbody>
                    </table>
                </div>

                <div class="tabel survey-list col-12 mb-5">
                    <h5 class="item-list-title underline">Survey List</h5>
                    <table class="table item-list">
                        <thead class="table-light">
                            <tr>
                                <th>No</th>
                                <th>Survey Code</th>
                                <th>Survey Category</th>
                                <th>Survey Name</th>
                                <th>PIC</th>
                                <th>Customer PIC</th>
                                <th>Req Date & Time</th>
                                <th>Detail Location</th>
                                <th>Notes (Internal)</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="surveyTableBody">
                            @for (int i = 0; i < Model.SurveySectionItems.Count; i++)
                            {
                                <tr>
                                    <td class="text-center" style="font-weight: 500;">@(i + 1)</td>
                                    <td class="survey-code">None</td>

                                    <td class="survey-category">
                                        <div class="wrapp survey-category-dropdown">
                                            <div class="select-btn py-0">
                                                <input type="text" class="form-control ps-0" readonly style="background: transparent; border: none; box-shadow: none;" placeholder="Pilih Kategori" />
                                                <i class='bx bx-chevron-down'></i>
                                            </div>
                                            <div class="content-search">
                                                <ul class="option" style="margin-bottom: 10px; padding-left: 0rem;">
                                                    @foreach (var category in Model.SurveyCategoryList)
                                                    {
                                                        <li>
                                                            <label>
                                                                <input type="checkbox" class="survey-list-checkboxes me-2"
                                                                       name="SurveySectionItems[@i].SurveyCategoryIDs"
                                                                       value="@category.Value"
                                                                       @(Model.SurveySectionItems[i].SurveyCategoryIDs.Contains(int.Parse(category.Value)) ? "checked" : "")>
                                                                <span>@category.Text</span>
                                                            </label>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="survey-name"><input asp-for="SurveySectionItems[i].SurveyName" class="size form-control1"></td>

                                    <td class="survey-pic">
                                        <div class="wrapp survey-pic-dropdown">
                                            <div class="select-btn py-0">
                                                <input type="text" class="form-control ps-0" readonly style="background: transparent; border: none; box-shadow: none;" placeholder="Pilih PIC" />
                                                <i class='bx bx-chevron-down'></i>
                                            </div>
                                            <div class="content-search">
                                                <ul class="option" style="margin-bottom: 10px; padding-left: 0rem;">
                                                    @foreach (var user in Model.SurveyUserList)
                                                    {
                                                        <li>
                                                            <label>
                                                                <input type="checkbox" class="survey-list-checkboxes me-2"
                                                                       name="SurveySectionItems[@i].TechnicalUserIDs"
                                                                       value="@user.Value"
                                                                       @(Model.SurveySectionItems[i].TechnicalUserIDs.Contains(int.Parse(user.Value)) ? "checked" : "")>
                                                                <span>@user.Text</span>
                                                            </label>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="survey-customer-pic"><input asp-for="SurveySectionItems[i].CustomerPICName" class="size form-control1"></td>

                                    <td class="survey-req-date-time">
                                        <input type="hidden" asp-for="SurveySectionItems[i].RequestStartTime" />
                                        <input type="hidden" asp-for="SurveySectionItems[i].RequestEndTime" />
                                        <div class="d-flex flex-column gap-1">
                                            <input type="date" class="form-control form-control-sm survey-date"
                                                   value="@(Model.SurveySectionItems[i].RequestStartTime?.ToString("yyyy-MM-dd"))">
                                            <div class="d-flex gap-1 align-items-center">
                                                <input type="time" class="form-control form-control-sm survey-time-start"
                                                       value="@(Model.SurveySectionItems[i].RequestStartTime?.ToString("HH:mm"))">
                                                <span>-</span>
                                                <input type="time" class="form-control form-control-sm survey-time-end"
                                                       value="@(Model.SurveySectionItems[i].RequestEndTime?.ToString("HH:mm"))">
                                            </div>
                                            <input type="text" class="form-control form-control-sm survey-date-display" readonly
                                                   style="background: #f8f9fa; border: none; font-weight: 500;">
                                        </div>
                                    </td>

                                    <td class="survey-detail-location"><input asp-for="SurveySectionItems[i].LocationDetails" class="size form-control1"></td>
                                    <td class="survey-notes"><input asp-for="SurveySectionItems[i].SalesNotesInternal" class="size form-control1"></td>

                                    <td class="survey-status">
                                        <div class="d-flex justify-content-center align-items-center flex-column gap-1">
                                            <span id="@(Model.SurveySectionItems[i].SurveyStatus?.ToLower())" class="rounded-pill status">
                                                @Model.SurveySectionItems[i].SurveyStatus
                                            </span>
                                        </div>
                                    </td>

                                    <td class="survey-actions">
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn"><i class='bx bx-file'></i></button>
                                            <button type="button" class="btn btn-remove-row-survey"><i class='bx bx-trash'></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="button" id="addRowBtnSurvey" class="btn btn-dark btn-uniform">Add Survey</button>
                </div>








@* ========================
======================== *@


                <div class="tabel meeting-list col-12 mb-5">
                    <h5 class="item-list-title underline">Meeting List</h5>
                    <table class="table item-list">
                        <thead class="table-light">
                            <tr>
                                <th>No</th>
                                <th>Meeting Code</th>
                                <th>Meeting Name</th>
                                <th>PIC</th>
                                <th>Req Date & Time</th>
                                <th>Detail Location</th>
                                <th>Notes (Internal)</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="meetingTableBody">
                            @for (int i = 0; i < Model.MeetingSectionItems.Count; i++)
                            {
                                <tr>
                                    <td class="text-center" style="font-weight: 500;">@(i + 1)</td>
                                    <td class="meeting-code">None</td>
                                    <td class="meeting-name"><input asp-for="MeetingSectionItems[i].MeetingName" class="size form-control1"></td>
                                    <td class="meeting-pic">
                                        <div class="wrapp meeting-pic-dropdown">
                                            <div class="select-btn py-0">
                                                <input type="text" class="form-control ps-0" readonly style="background: transparent; border: none; box-shadow: none;" placeholder="Pilih PIC" />
                                                <i class='bx bx-chevron-down'></i>
                                            </div>
                                            <div class="content-search">
                                                <ul class="option" style="margin-bottom: 10px; padding-left: 0rem;">
                                                    @foreach (var user in Model.UserList)
                                                    {
                                                        <li>
                                                            <label>
                                                                <input type="checkbox" class="survey-list-checkboxes me-2"
                                                                       name="MeetingSectionItems[@i].AssignedPICs"
                                                                       value="@user.Value"
                                                                       @(Model.MeetingSectionItems[i].AssignedPICs.Contains(int.Parse(user.Value)) ? "checked" : "")>
                                                                <span>@user.Text</span>
                                                            </label>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="meeting-req-date-time">
                                        <input type="hidden" asp-for="MeetingSectionItems[i].MeetingStartTime" />
                                        <input type="hidden" asp-for="MeetingSectionItems[i].MeetingEndTime" />
                                        <div class="d-flex flex-column gap-1">
                                            <input type="date" class="form-control form-control-sm meeting-date" value="@(Model.MeetingSectionItems[i].MeetingStartTime?.ToString("yyyy-MM-dd"))">
                                            <div class="d-flex gap-1 align-items-center">
                                                <input type="time" class="form-control form-control-sm meeting-time-start" value="@(Model.MeetingSectionItems[i].MeetingStartTime?.ToString("HH:mm"))">
                                                <span>-</span>
                                                <input type="time" class="form-control form-control-sm meeting-time-end" value="@(Model.MeetingSectionItems[i].MeetingEndTime?.ToString("HH:mm"))">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="meeting-detail-location"><input asp-for="MeetingSectionItems[i].LocationDetails" class="size form-control1"></td>
                                    <td class="meeting-notes"><input asp-for="MeetingSectionItems[i].NotesInternal" class="size form-control1"></td>
                                    <td class="meeting-status"><div class="d-flex justify-content-center align-items-center flex-column gap-1"><span class="rounded-pill status">Open</span></div></td>
                                    <td class="meeting-actions">
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn"><i class='bx bx-file'></i></button>
                                            <button type="button" class="btn btn-remove-row-meeting"><i class='bx bx-trash'></i></button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <button type="button" id="addMeetingBtn" class="btn btn-dark mt-1 btn-uniform">Add Meeting</button>
                </div>
            </div>
        </form>
    </div>
</main>

@section Scripts {
    <script>
        window.serverSideCustomerData = [];
        @if (Model.CustomerList != null)
        {
                            foreach (var customer in Model.CustomerList.Cast<SelectListItem>())
                            {
                                                @:serverSideCustomerData.push({ value: "@Html.Raw(customer.Value)", text: "@Html.Raw(System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(customer.Text))" });
                            }
        }

            function populateEndUserDropdown(customerId) {
            console.log("populateEndUserDropdown called with customerId:", customerId); // Ini sudah muncul dengan benar
            var endUserSelect = $('#endUserDropdown');
            endUserSelect.empty();

            if (customerId && customerId !== "" && customerId !== "0") {
                endUserSelect.append($('<option></option>').val('').text('-- Loading End Users... --'));
                $.ajax({
                    url: '@Url.Action("GetContactPersonsByCustomerId", "RFQ")',
                    type: 'GET',
                    data: { customerId: customerId },
                    success: function (data) {
                        console.log("AJAX success, data diterima:", data); // TAMBAHKAN INI
                        endUserSelect.empty();
                        endUserSelect.append($('<option></option>').val('').text('-- Select End User --'));
                        if (data && data.length > 0) {
                            $.each(data, function (index, item) {
                                console.log("Menambahkan opsi:", item.text, "value:", item.value); // TAMBAHKAN INI
                                endUserSelect.append($('<option></option>').val(item.value).text(item.text));
                            });
                        } else {
                            console.log("Tidak ada data end user atau data kosong."); // TAMBAHKAN INI
                            endUserSelect.empty().append($('<option></option>').val('').text('-- No End Users Found --'));
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching end users: ", xhr, status, error);
                        endUserSelect.empty().append($('<option></option>').val('').text('-- Error Loading --'));
                    }
                });
            } else {
                endUserSelect.append($('<option></option>').val('').text('-- Select Company First --'));
            }
        }

        // Panggil populateEndUserDropdown saat dokumen siap JIKA #hiddenCustomerId sudah punya nilai valid.
        // Ini berguna jika halaman bisa dimuat dengan customer yang sudah terpilih (misalnya halaman edit).
        $(document).ready(function() {
            var initialCustomerId = $('#hiddenCustomerId').val();
            if (initialCustomerId && initialCustomerId !== "0") {
                // populateEndUserDropdown(initialCustomerId); // Kita panggil dari updateName saja agar konsisten
            } else {
                // Pastikan dropdown End User dalam keadaan default jika tidak ada customer awal
                populateEndUserDropdown(""); // Atau $('#endUserDropdown').empty().append(...opsi default...);
            }
        });

         var itemMasterDataFromServer = @Html.Raw(Json.Serialize(Model.ItemMasterList.Select(item => new { value = item.Value, text = item.Text })));
         var purchasingUsersFromServer = @Html.Raw(Json.Serialize(Model.PurchasingUserList.Select(item => new { value = item.Value, text = item.Text })));
         var surveyCategoriesFromServer = @Html.Raw(Json.Serialize(Model.SurveyCategoryList.Select(item => new { value = item.Value, text = item.Text })));
         var usersFromServer = @Html.Raw(Json.Serialize(Model.UserList.Select(item => new { value = item.Value, text = item.Text })));
         var surveyUsersFromServer = @Html.Raw(Json.Serialize(Model.SurveyUserList.Select(item => new { value = item.Value, text = item.Text })));
    </script>
}