@* @model IEnumerable<BQuick.Models.RFQ> *@

@{
    ViewData["Title"] = "RFQ";
}

<main class="content-div px-1 py-4 mx-3">
    <div class="container-fluid mt-4">
        <div class="header mb-4 w-100" style="font-size: 29px;">
            <a class="text-decoration-none" asp-controller="RFQ" asp-action="Index"><span class="text-danger fw-bold rfq-link">RFQ</span></a>&nbsp;<span class="fw-bold">&gt;</span>&nbsp;<span class="tes fw-bold text-decoration">Quotation</span>
        </div>
        
        <div class="d-flex mb-3 gap-3">
            <a class="btn btn-danger d-flex align-items-center gap-1" asp-controller="RFQ" asp-action="Create">
                <i class='bx bx-plus'></i> Create RFQ
            </a>

            <div class="input-group w-25">
                <input type="text" id="searchInput" class="form-control border-end-0" placeholder="Search..." onkeyup="searchRFQ()" />
                <i class='bx bx-search input-group-text bg-white border-start-0' style="font-size: 1rem;"></i>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>RFQ Code</th>
                    <th>Request Date</th>
                    <th>Due Date</th>
                    <th>Customer Code</th>
                    <th>RFQ Name</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RFQ240001</td>
                    <td>08-07-24</td>
                    <td>10-07-24</td>
                    <td>PEB</td>
                    <td>Instalasi Lan</td>
                    <td>IDR100000000</td>
                    <td class="d-flex justify-content-center align-items-center flex-column gap-1"><span id="open" class="rounded-pill status">Open</span></td>
                </tr>
                <tr>
                    <td>RFQ240007</td>
                    <td>08-07-24</td>
                    <td>10-07-24</td>
                    <td>BPB</td>
                    <td>Service Data Center</td>
                    <td>IDR100000000</td>
                    <td class="d-flex justify-content-center align-items-center flex-column gap-1"><span id="waiting-purc" class="rounded-pill status">Waiting Purc</span></td>
                </tr>
                <tr>
                    <td>RFQ240009</td>
                    <td>08-07-24</td>
                    <td>10-07-24</td>
                    <td>BPB</td>
                    <td>Laptop & Peripheral</td>
                    <td>IDR100000000</td>
                    <td class="d-flex justify-content-center align-items-center flex-column gap-1"><span id="waiting-discuss" class="rounded-pill status">Waiting Discuss</span></td>
                </tr>
                <tr>
                    <td>RFQ240010</td>
                    <td>08-07-24</td>
                    <td>10-07-24</td>
                    <td>BPB</td>
                    <td>Instalasi Lain</td>
                    <td>IDR100000000</td>
                    <td class="d-flex justify-content-center align-items-center flex-column gap-1"><span id="waiting-pic" class="rounded-pill status">Waiting PIC</span></td>
                </tr>
                <tr>
                    <td>RFQ240011</td>
                    <td>08-07-24</td>
                    <td>10-07-24</td>
                    <td>PEB</td>
                    <td>Instalasi Lain</td>
                    <td>IDR100000000</td>
                    <td class="d-flex justify-content-center align-items-center flex-column gap-1"><span id="waiting-report" class="rounded-pill status">Waiting Report</span></td>
                </tr>
                <tr>
                    <td>RFQ240012</td>
                    <td>08-07-24</td>
                    <td>10-07-24</td>
                    <td>ABH</td>
                    <td>Instalasi Lain</td>
                    <td>IDR100000000</td>
                    <td class="d-flex justify-content-center align-items-center flex-column gap-1"><span id="waiting-purc" class="rounded-pill status">Waiting Purc</span><span id="waiting-discuss" class="rounded-pill status">Waiting Discuss</span></td>
                </tr>
                <tr>
                    <td>RFQ240013</td>
                    <td>08-07-24</td>
                    <td>10-07-24</td>
                    <td>PEB</td>
                    <td>Instalasi Lain</td>
                    <td>IDR100000000</td>
                    <td class="d-flex justify-content-center align-items-center flex-column gap-1"><span id="ready-to-submit" class="rounded-pill status">Ready to Submit</span></td>
                </tr>
                @* @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RFQCode</td>
                            <td>@item.RequestDate.ToString("dd-MM-yy")</td>
                            <td>@item.DueDate.ToString("dd-MM-yy")</td>
                            <td>@item.Company?.CompanyCode</td>
                            <td>@item.RFQName</td>
                            <td>@string.Format("IDR{0:N0}", item.ActualValue)</td>
                            <td class="d-flex justify-content-center align-items-center flex-column gap-1">
                                @{
                                    var statuses = item.Status.Split(';', StringSplitOptions.RemoveEmptyEntries);
                                    foreach (var status in statuses)
                                    {
                                        var statusTrimmed = status.Trim();
                                        var statusId = statusTrimmed.Replace(" ", "-").ToLowerInvariant();
                                        <span id="@statusId" class="rounded-pill status">@statusTrimmed</span>
                                    }
                                }
                            </td>
                        </tr>
                    }
                } *@
            </tbody>
        </table>
    </div>
</main>
