@model IEnumerable<BQuick.Models.RFQ>

@{
    ViewData["Title"] = "RFQ";
}

<main class="content-div px-1 py-4 mx-3">
    <div class="container-fluid mt-4">
        <h2 class="mb-4"><i class='bx bx-file'></i> RFQ Quotation</h2>
        <a class="btn btn-danger mb-3" asp-area="" asp-controller="RFQ" asp-action="Create"><i class='bx bx-plus'></i> Create RFQ</a>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>RFQ Code</th>
                    <th>Request Date</th>
                    <th>Due Date</th>
                    <th>Customer Code</th>
                    <th>RFQ Name</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rfq in Model)
                {
                    <tr>
                        <td>@rfq.RFQCode</td>
                        <td>@rfq.RequestDate.ToShortDateString()</td>
                        <td>@rfq.DueDate.ToShortDateString()</td>
                        <td>@rfq.Customer.CustomerCode</td>
                        <td>@rfq.RFQName</td>
                        <td>@rfq.TotalBudget?.ToString("C")</td>
                        <td>@rfq.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
